<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>
<div class="well">
  <h4> Total number of Products: <%= link_to @count_product, admin_products_path %> </h4>
  <br>
  <h4> Total number of Categories: <%= link_to @count_category, admin_products_path %> </h4>
</div>